body{
    width: 100%;
height: 100%;
margin: 0 auto}
ul {
    padding: 0px!important;
}
.menu-principal{
    width: 100%;
    background-color: #252323;
height: 60px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;

}
.logo {
    float: left;
    padding: 16px;
    width: 70%;


}
.redes-sociais ul li{
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
    
}
.redes-sociais {
    width: 25%;
    float: right;

}
.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;  
    padding: 16px;  

}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;  
    height: 48px;
}

.menu ul li:hover{
    
    border-bottom: 2px solid #00bac6;

}

.menu ul li a:hover{
    
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    
}
.menu {
    width: 70%;
    float: left;

}
.busca {
    text-align: center;
    width: 30%;
    float: left;
       
}
.busca input{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 96%;
    height: 36px;
    margin-top: 8px;
    padding: 12px;
    width: 190px;
    border: 1px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;

}
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(../img/seta\ esquerda.png);
    position: absolute;
    z-index: 9;
    top: 36%;
    left: 14%;
}
button.slick-next{

    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(../img/seta\ direita.png);
    position: absolute;
    z-index: 9;
    top: 36%;
    right: 14%;
}

.slick-list{
    width: 100%!important;
}
.slick-initialized{

    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 48%;
    top: 800px;

}
li.slick-active button {
    background: #00bac6;
}

.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}

.slider-principal{
    width: 100%;
    height: auto;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #818181;
       
}

.texto-destaque strong{
    color: #646464;

}

.texto-destaque p{
    font-size: 16px;
    color: #9a9a9a;
   
}

.col3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative; 
    margin-top: 2em;

}

h3{
    font-weight: normal!important;
    color: #c8c8c8;
}
h3 strong{
    color: #7b7b7b;

}

.bloco-texto-ativo{
    margin-top: 4em;

}
.col-3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative; 
}

.bloco-imagens-texto{
    background-color: #eeeeee;
    
    
}
.bloco-imagem img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0Px;
    margin-left: 10px;
}
.content {
    margin-top: 3em;
    text-align: center;
    
}
.seta-cima:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
  
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }